body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  color: gray;
}
ul {
  padding: 5px;
}

li {
  list-style-type: none;
  color: gray;
  padding: 5px;
}
a {
  text-decoration: none;
  color: gray;
}

.logo {
  /* color: ; */
  font-weight: bold;
  color: black;
}

.buttons {
  padding: 10px;
  border-radius: 16px;
  background-color: black;
  display: block;
  width: 100%;
  color: #fff;
}
p {
  border-left-style: solid;
  padding: 5px;
}
